.vscode
pendings.txt
1st_quarter
2nd_quarter/D2B_2023/U1
2nd_quarter/D2B_2023/PROGRAMMING D2B.docx
3rd_quarter/Statistical_Modeling/Class_Resources/.ipynb_checkpoints
.ipynb_checkpoints
__pycache__
build/